.attribution { 
    font-size: 11px; text-align: center; 
    margin-top: 32px;
    font-weight: 300;
    color: gray;
    gap: 4px;
    position: absolute;
    bottom: 16px;
}

.attribution a { color: hsl(228, 45%, 44%); }

body { 
    background-color: hsl(212, 45%, 89%);
    font-family: outfit;
    display: flex;
    justify-content: center;
    height: 98vh;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container {
    background-color: white;
    padding: 16px 16px 40px 16px;
    border-radius: 20px;
    gap: 24px;
    display: inline-block;

}

h2 {
    font-size: 22px;
    line-height: 120%;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    width: 256px;
}

p {
    font-size: 15px;
    line-height: 140%;
    color: hsl(216, 15%, 48%);
    font-weight: 400;
    text-align: center;
    width: 256px;
    margin: 0;
}

.text-content {
    padding: 0 16px;
    gap: 16px;
}

img {
    width: 288px;
    border-radius: 10px;
}

.attribution p {
   font-size: small;
   font-weight: 300;
   display: inline;
   margin: 8px;
}

@media (max-width: 420px) {
  .attribution {
    display: block;
  }
  .attribution p {
    display: block;
    margin: 4px 0;
    text-align: center;
  }
}
